body
{
    background: rgba(204, 229, 255, 0.4);
    font-size: 1.15em;
    text-align: justify;
    font-family: "Arial", sans-serif;
}

#title
{
    color: rgb(178, 128, 9);
    font-weight: 400;
}

.subtitle
{
    color: rgb(200, 148, 30);
}

#service-image
{
    height: 400px;
    width: 70vw;

    background: radial-gradient(circle, rgb(94, 255, 126), rgba(94, 255, 126, 0))
}

.link
{
    text-decoration: overline;
}

.italics
{
    font-style: italic;
}