body
{
    background: rgba(204, 229, 255, 0.4);
}

#title
{
    color: rgb(178, 128, 9);
}

.subtitle
{
    color: rgb(200, 148, 30);
}

#service-image
{
    height: 400px;
    width: 70%;
    /* background: linear-gradient(232deg, rgb(94, 255, 126), rgba(94, 255, 126, 0)); */
    background: radial-gradient(circle, rgb(94, 255, 126), rgba(94, 255, 126, 0))
    /* background-size: cover; */
}